.img-container img{
    width: 300px;
    background-color: lightblue;
    margin-bottom: 30px;
}

.course-details{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-area a{
    text-decoration: none;
}
.btn{
    margin-left: 10px;
    display: flex;
    background: rgb(103, 103, 238);
    color: #fff;
    align-items: center;
    padding: 10px 15px;
    font-weight: 500;
}
.btn p{
    margin: 0px;
}
.btn:hover{
    border: 3px solid rgb(103, 103, 238);
    color: rgb(103, 103, 238);
}
.arrow-icon{
    margin-left: 5px;
    margin-top: 4px;
}